<h2><%= @owner.first_name %>'s Vehicles</h2>
<% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @vehicles.each do |v| %>
      <div class="span3 vehicle-list">
            Make:             <%=  v.make %>          <br/>
            Model:            <%=  v.model %>         <br/>
            Year:             <%=  v.year %>          <br/>
            License Plate #:  <%=  v.license_plate %> <br/>
            VIN Number:       <%=  v.vin_number %>    <br/>  
            Oil Type:         <%=  Vehicle::OIL_TYPE[v.oil_type] %>      <br/>
            Notes:  <div class="note">    <%=  v.notes %>  </div><br/>   
            
            
            <%= link_to "Schedule Oil Change", new_appointment_path(:vehicle_id => v.id, :owner_id => @owner.id), :class => 'btn btn-success btn-small btn-block' %>
            <%= link_to "Edit Vehicle", edit_vehicle_path(:vehicle_id => v.id, :owner_id => @owner.id), :class => 'btn btn-primary btn-small' %>
            <%= link_to "Delete Vehicle", vehicle_path( :id => v.id, :owner_id => @owner.id), :method => 'delete', :confirm => 'This will permanently delete all data and history about this vehicle.  Are you sure?', :class => 'btn btn-inverse btn-small' %>
      </div>
      <div class="appointment-view">
      </div>
<% end %>