<h1>Current Appointments:</h1>
  <div class="appointments-list">
    <table> 
      <tr>
        <th>Status:   </th>
        <th>Date:     </th>
        <th>Time Frame:</th>
        <th>Vehicle:  </th>
        <th>Mechanic: </th>

      <% @appointments.each do |a| %>
        <tr class="<%= cycle('even', 'odd')%>" >
          <td>  <%= a.status %>                 </td>          
          <td>  <%= a.scheduled_date.strftime("%b %d, %y") %>         </td>
          <td>  <%= a.scheduled_start_time.strftime("%b %c %I %M") %> - <%= a.scheduled_end_time.strftime("%b %c %I %M") %>     </td>
          <td>  <%= a.vehicle %>                </td>
          <td>  <%= a.mechanic %>               </td>    
        </tr>  
      <% end %>
  </table>
</div> 