
  <% if Appointment.present? %>
    <table> 
        <tr>
          <th>Time Open:    </th>
          <th>Owner Name: </th>
          <th>Date:      </th>
          <th>Time Frame:</th>
          <th>Location:  </th>
          <th>Vehicle:   </th>
          <th><form name="chooseViewHours">
                <label for="viewHours">How many hours do you want to view:</label>
                <input id="viewHours" value="12" id="special" />
                <input type="submit" onclick="#">
              </form>
            
           </th>
        </tr>
        <% Appointment.where(:status => 1).each do |a| %>
            <tr class="<%= cycle('even', 'odd')%>">
              <td> time </td>       
              <td>  <%= Owner.find(a.owner_id).first_name unless Owner.find(a.owner_id).first_name.blank? %>
                    </td>  
              <td>  
                  <% if a.owner_start.present? %>
                     <%=  a.owner_start.strftime("%A %b %d") %>
                     <% else %>
                     <p> No Date </p>
                  <% end %>         
              </td>
              <td>  
                  <% if a.owner_start.present? %> 
                  <% if a.owner_end.present? %>
                    <%= a.owner_start.strftime("%H:%M") %> - <%= a.owner_end.strftime("%H:%M")  %>     
                  <% end %>
                  <% else %>
                     <p> No Time </p> 
                  <% end %>
                  </td>
              <td><%= a.street %> <%= a.city %>, <%= a.zip %></td>    
              <td>
                Make:          <%= Vehicle.find(a.vehicle_id).make unless a.vehicle_id.nil? %>                    </br>
                Model:         <%= Vehicle.find(a.vehicle_id).model unless a.vehicle_id.nil? %>                   </br>
                License Plate: <%= Vehicle.find(a.vehicle_id).license_plate unless a.vehicle_id.nil? %>           </br>
                Color:         <%= Vehicle.find(a.vehicle_id).color unless a.vehicle_id.nil? %>                   </td>
              <td><%= link_to "Inspect", :class => "btn btn-primary btn-small"  %>
                  <%#= link_to "Add Job", :action => "add_job", :appointment_id => a.id, :id => @mechanic.id, :class => "btn btn-success btn-small"  %>
                  <%= form_for a do |appointment| %>
                    <%= appointment.hidden_field(:mechanic_id, :value => @mechanic.id)%>
                    <%= appointment.hidden_field(:status, :value => 2)%>
                    <%= appointment.submit(:value => 'Add Job')%>
                  <% end %>
                   </td>    
            </tr>  
        <% end %>
    </table> 
  <% else %>
      <p> There are no appointments available at this time </p> 
  <% end %>


