<% content_for :header do %>
  <%= javascript_include_tag 'require', 'data-main' => '/assets/main/mechanic'%>
<% end %>

<!-- make into helper so we can add more than one object to json data -->
<% content_for :json_data do %>
  <%= json_escape(@json_data.to_json).html_safe %>
<% end %>

<div class='container'>
  <div class='row welcome-mechanic'>
    <div class="span4">
      <h2>Welcome Mechanic</h2>
      <%= @mechanic.company_name %> <br/>
      <%= @mechanic.first_name %> <%= @mechanic.last_name %> <br/>
      <%= @mechanic.street %> <br/>
      <%= @mechanic.city %>, <%= @mechanic.state %> <br/>
      <%= @mechanic.email %> <br/>
      <%= @mechanic.phone_number %> <br/>
    </div>
  </div>


  <div class="row">  
    <div class="mechanic-available-appointments-container"><h3>Available Appointments</h3> </div>
  </div>
  <div class="row">  
    <div class="mechanic-current-appointments-container"><h3>Current Appointments</h3> </div>
  </div>
  <div class="row">  
    <div class="mechanic-complete-appointments-container"><h3>Complete Appointments</h3> </div>
  </div>
</div>