<div class='container'>
  <div class='row welcome-mechanic'>
    <div class="span4">
      <h2>Welcome Mechanic</h2>
      <%= @mechanic.company_name %> <br/>
      <%= @mechanic.first_name %> <%= @mechanic.last_name %> <br/>
      <%= @mechanic.street %> <br/>
      <%= @mechanic.city %>, <%= @mechanic.state %> <br/>
      <%= @mechanic.email_address %> <br/>
      <%= @mechanic.phone_number %> <br/>
    </div>
  </div>
  <div class="row">  
    <h3>Oil Change Requests</h3>  
      <div class="span11 set-height">
        <%= render 'available_appointments' %>
    </div>
  </div>
  <div class="row">  
    <h3>Oil Change Jobs</h3>  
      <div class="span11 set-height">
        <%= render 'mechanic_sche_appointments' %>
      </div> 
  </div>
  <div class="row">  
    <h3>Completed Jobs</h3>  
    <div class="span11 set-height">
      <%= render 'mechanic_completed_appointments' %>
    </div> 
  </div>
</div>