<div class="mainWrapper">
  <div class="row">
    <div class="span4 banner-box">
      <h1>Vehicle Owner Instructions</h1>
      <ul>
        <li>Step 1. Sign Up</li>
        <li>Step 2. Add Your Vehicles</li>
        <li>Step 3. Schedule an oil change at any location you want (Home, Work, Office, etc)</li>
        <li>Step 4. Do anything you want, but wait around at a oil shop</li>
      </ul> 
    </div>  
    <div class="span4 banner-box">
      <h1>Mechanic Instructions</h1>
      <ul>
        <li>Step 1. Sign Up</li>
        <li>Step 2. Verify Mechanic Credentials</li>
        <li>Step 3. Change Oil</li>
        <li>Step 4. Make money!</li>
      </ul> 
    </div>
  </div>

  <div class="row login-blocks">
    <div class="span4 banner-box">
      <form name="owner_Login">
        <h2>Vehicle Owner Login</h2>
        <%= form_for(@resource, :as => @resource_name, :url => session_path(@resource_name)) do |f| %>
          <div><%= f.email_field :email, :id => 'top', :placeholder => 'Email' %></div>

          <div><%= f.password_field :password, :id => 'bottom', :placeholder => 'Password' %></div>

          <% if @devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in" %></div>
        <% end %>

<!-- Old form html -->
<!--         <input id="top" type="text" placeholder="Email"</input>
        <input id="bottom" type="text" placeholder="Password"></input>
        <input type="button" value="Sign In"></input> -->
      </form>  
        <h5>Sign in with:</h5>
        <div class="loginImg">
          <a href="#"> <img src="/assets/facebook_login_lte.png" /> </a>
          <a href="#"> <img src="/assets/twitter_login_lte.png" />  </a>
          <a href="#"> <img src="/assets/googleplus_login_lte2.png" /></a>
        </div>
    </div>  

  <div class="span4 banner-box">
    <form name="mechanic_Login">
      <h2>Mechanic Login</h2>
      <input id="top" type="text" placeholder="Email"></input>
      <input id="bottom" type="text" placeholder="Password"></input>
      <input type="button" value="Sign In"></input>
    </form> 
      <h5>Sign in with:</h5>
      <div class="loginImg">
        <a href="#"> <img src="/assets/facebook_login_lte.png" /> </a>
        <a href="#"> <img src="/assets/twitter_login_lte.png" />  </a>
        <a href="#"> <img src="/assets/googleplus_login_lte2.png" /></a>
      </div>
  </div>       


  </div>

</div>  
