<% content_for :header do %>
  <%= javascript_include_tag 'require', 'data-main' => '/assets/mainHome' %>
<% end %>


<div class="mainWrapper">
  <div class="row">
    <div class="span4 banner-box">
      <h1>Vehicle Owner Instructions</h1>
      <ul>
        <li>Step 1. Sign Up</li>
        <li>Step 2. Add Your Vehicles</li>
        <li>Step 3. Schedule an oil change at any location you want (Home, Work, Office, etc)</li>
        <li>Step 4. Do anything you want, but wait around at a oil shop</li>
      </ul> 
    </div>  

    <div class="span4 banner-box">
      <h2>Sign in</h2>

      <%= form_for('owner', :as => :owner, 
                             :url => session_path(:owner),
                             :html => {:class => 'form-horizontal'}) do |f| %>

        <div><%= f.email_field :email, :placeholder => 'Email' %></div>

        <div><%= f.password_field :password, :placeholder => 'Password'  %></div>

        <div class="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        

        <div><%= f.submit "Sign in" %></div>
      <% end %>
      <div class='form-links'>
        <%= link_to "Sign up", new_registration_path(:owner) %> |
        <%= link_to "Forgot your password?", new_password_path(:owner) %> |
        <%= link_to "Sign in with facebook", omniauth_authorize_path(:owner, :facebook) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4 banner-box">
      <h1>Mechanic Instructions</h1>
      <ul>
        <li>Step 1. Sign Up</li>
        <li>Step 2. Verify Mechanic Credentials</li>
        <li>Step 3. Change Oil</li>
        <li>Step 4. Make money!</li>
      </ul> 
    </div>  

    <div class="span4 banner-box">
      <h2>Sign in</h2>

      <%= form_for('mechanic', :as => :mechanic, 
                             :url => session_path(:mechanic),
                             :html => {:class => 'form-horizontal'}) do |f| %>

        <div><%= f.email_field :email, :placeholder => 'Email' %></div>

        <div><%= f.password_field :password, :placeholder => 'Password'  %></div>

        <div class="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        

        <div><%= f.submit "Sign in" %></div>
      <% end %>
      <div class='form-links'>
        <%= link_to "Sign up", new_registration_path(:mechanic) %> |
        <%= link_to "Forgot your password?", new_password_path(:mechanic) %>
      </div>
    </div>
  </div>
</div>  

