  <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
  </style>

<%= form_for(@appointment, :html => {:class => "form-horizontal"}) do |f| %>
  <fieldset>
    <%= f.hidden_field :owner_id, :value => params[:owner_id] %>
    <%= f.hidden_field :vehicle_id, :value => params[:vehicle_id] %>
<!--##################### LOCATION ############################################################################ -->    
    <h3>Where do you want your oil changed?</h3>
    <div class="location">
      <div class="control-group">
        <%= f.label :street, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :street %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :city, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :city %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :zip, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :zip %>
        </div>
      </div>
      <div class="control-group-right"> 
        <div class="controls" onload="initialize()">
          <div id="map_canvas" style="width:300px; height:300px" ></div>
        </div>
      </div>
    </div>
<!--##################### TIME & DATE ############################################################################ -->    
  <h3>What time will your vehicle be available?</h3>
    <div class="control-group">
      <%= f.label :scheduled_date, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :scheduled_date, :id => 'datepicker' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :scheduled_start_time, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :scheduled_start_time, :class => 'timepicker' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :scheduled_end_time, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :scheduled_end_time, :class => 'timepicker' %>
      </div>
    </div>
  <h3>What information would you like the mechanic to know?</h3>
    <div class="control-group">
      <%= f.label :owner_notes, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :owner_notes %>
      </div>
    </div>
    <!-- Mechanic form shouldn't be viewed on appointment creation, only when reviewed and changed.
    <div class="control-group">
      <%= f.label :mechanic_notes, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :mechanic_notes %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :availability_start_time, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :availability_start_time %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :availability_end_time, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :availability_end_time %>
      </div>
    </div> -->

    <div class="form-actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  
  </fieldset>
<% end %>
