<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
   <!--STRIPE START -->
  <%= javascript_include_tag 'https://js.stripe.com/v1/'%>
  <%= javascript_tag 'Stripe.setPublishableKey(\'pk_b4Kw7ff4V6MEu47nfE37wqY8K5kr2\');' %>
  <!--STRIPE END -->
  <!-- GOOGLE MAPS START -->  
  <%#= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyAJXNiTBM1wkZZFwwSM3dB1IyPAqed69_E&sensor=true' %>
  <!-- GOOGLE MAPS END -->

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= csrf_meta_tags %> 
  
  <title>Mobile Oil Change</title>
  <%= yield :header %>
  <script> window.jsonData = <%= yield :json_data || 0 %>; </script>
</head>

<body>
  <header>
    <div class="header"> 
      <div class="headerBody">
        <img src="/assets/car.png" />
        <h3>Oil Mob</h3> 
        <div class="userInfo"> 
          <% if(owner_signed_in?) %>
            <%= link_to("#{current_owner.first_name} #{current_owner.last_name}", owner_path(current_owner)) %> |
            <%= link_to 'Log Out', destroy_owner_session_path, :method => :delete %> <br/> 
          <% elsif(mechanic_signed_in?) %>
            <%= link_to("#{current_mechanic.first_name} #{current_mechanic.last_name}", mechanic_path(current_mechanic)) %> |
            <%= link_to 'Log Out', destroy_mechanic_session_path, :method => :delete %> <br/> 
          <% else %>  
            <%= yield :login %>
          <% end %>
          <%= DateTime.now.strftime('%A, %B %d - %I:%M %p') %>
        </div>
      </div>  
    </div>
  </header>
 
  <div class="flash-header">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
  </div>

  <div id="yield">
    <%= yield %>
  </div>
  

 <!-- <footer>
    <div class="footer">
      <div class="footerBody">
        All rights reserved 2012 
      </div>
    </div>
  </footer> -->
</body>
</html>
